<%= form_for(@comment=Comment.new) do |f| %>
    <%= render "devise/shared/error_messages", resource: @comment %>
    <%= f.hidden_field :post_id, :value => object.id %>
    <div class="field">
        <div class="control">
            <%= f.text_area :content, autofocus: true, size: "60x3", 
                            required: true, 
                            style: "resize: none" %><br />
        </div>
    </div>
    <%= f.submit 'Add Comment', class:"btn btn-secondary col-md-3"%>
<% end %>