<div class = "<%= class_ %>" >
    <% if opt_button %>
        <%  if not user.avatar.present?%>
            <%= link_to image_tag(user.img_auth, class: "is-rounded"), boards_show_path(user) %>
        <% else %>
            <%= link_to image_tag(user.avatar.url, class: "is-rounded"), boards_show_path(user) %>
        <% end %>
    <% else %>
        <%  if not user.avatar.present?%>
            <%= image_tag(user.img_auth, class: "is-rounded") %>
        <% else %>
            <%= image_tag(user.avatar.url, class: "is-rounded") %>
        <% end %>
    <% end %>
</div>