   
        
<div class="media">
    <div class="media-left">
        <%= render 'shared/img-profile-rounded', class_: "image is-32x32", opt_button: opt_link, user:person %>
    </div>         
    <div class="media-content">
        <div class="content">
            <p>
                <strong><%= person.name %></strong><br />
                <small>@<%= person.username %></small><br />
                <small><%= person.email %></small>
                <%= render 'shared/like-profile', object: person %>
            </p>
        </div>
    </div>
</div>
       
