<div class="is-flex is-flex-direction-column is-justify-content-center  is-align-content-center">
        <p class="title">Profile</p>
        <div class="container">
            <%= turbo_frame_tag "img-profile", target: "img-profile1" do %>
                <%= render 'layouts/form_notice' %>
                <%= render 'boards/img-profile-info', class_: " image  is-fullwidth is-flex" %>
                <%= link_to "edit", boards_edit_path %>
            <% end %>
        </div>
        <section class="container">
            <div class="colums is-flex is-justify-content-space-between">
                <div class="column" style="width: 25rem">
                     <nav class="panel" >
                        <p class="title">Personal Data</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <%= turbo_frame_tag "pass-profile" , class: "is-flex is-justify-content-space-between" do %>
                            <%= turbo_frame_tag "info-profile" , class: "is-flex is-justify-content-space-between" do %>
                                
                                <%= render '/boards/info_user', person:current_user %>
                       
                                <% unless current_user.provider.present? %>
                                    <div class = "is-flex is-flex-direction-column">
                                        <%= link_to "Edit info",boards_edit_path, class: "button is-warning" %>
                                        <%= link_to "Edit password",boards_edit_path, class: "button is-danger", "data-turbo-frame": "pass-profile" %>
                                    </div>
                                <%end%>
                            <% end %>
                            <%end%>
                        </div>
                        <%= link_to "Advanced", edit_user_registration_path, class: "is-small" %>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            <%= render '/layouts/indicators' %>
                        </div>
                    </nav>
                </div>
                <div class="column">
                Post
                </div>
                <div class="column" style="width: 15rem">
                Friends
                </div>
               
            </div>
        </section>
        
</div>



<div class="colums is-mobile">
    <div class="colum">
        <%= render '/boards/info_user', person:current_user %>
    </div>
</div>
