<div class="is-flex is-flex-direction-column is-justify-content-center  is-align-content-center">
        <p class="title">Profile</p>
        <div class="container">
            <%= render 'boards/img-profile', user: @user %>
        </div>
        <section class="container">
            <div class="colums is-flex is-justify-content-space-between">
                <div class="column" style="width: 25rem">
                     <nav class="panel" >
                        <p class="title">Personal Data</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <%= render 'boards/form-data', person:@user %>
                        </div>
                        <% if @user == current_user %>
                            <%= link_to "Advanced", edit_user_registration_path, class: "is-small" %>
                        <% else %>
                            <% if possible_friend?(@user, current_user) and not friend?(@user, current_user)%>
                                 <div class="panel-block is-flex is-flex-direction-column">
                                    <div class="is-flex">
                                        <div class="button is-primary is-small">
                                            <%= link_to "Add as friend", accept_friend_board_friendships_path(@user), style:"color:white;"%>
                                        </div>
                                        <div class="button is-danger is-small">
                                            <%= link_to "Decline",decline_friend_board_friendships_path(@user), style:"color:white;", turbo_confirm: "Are you sure? " %>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        <% end %>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            <%= render '/shared/indicators', person: @user  %>
                        </div>
                    </nav>
                    <nav class="panel" >
                        <p class="title is-4">Friends</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <div class="container">
                                <%= render 'shared/view-friends', person: @user%>
                            </div>
                        </div>
                    </nav>
                    <nav class="panel" >
                        <p class="title is-4">Requests Received</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <div class="container">
                                <%= render 'shared/view-friends-received', person: @user%>
                            </div>
                        </div>
                    </nav>
                    <nav class="panel" >
                        <p class="title is-4"> Requests Sent</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <div class="container">
                                <%= render 'shared/view-friends-sent', person: @user%>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="column" style="width: 50rem">
                    <% if @user == current_user %>
                        <nav class="panel" >
                            <p class="title">Whats on your mind?</p>
                            <div class="panel-block is-flex is-justify-content-center ">
                                <div class="container">
                                    <%= render 'posts/new-post' %>
                                </div>
                            </div>
                        </nav>
                    <% end %>
                   
                        <%= render 'posts/view-posts', only_user: true, user: @user  %>
                    
                </div>
                <div class="column" style="width: 25%">
                    <nav class="panel" >
                        <p class="title is-4">Not friends yet</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <div class="container">
                                <%= render 'shared/view-nofriends', person: @user%>
                            </div>
                        </div>
                    </nav>
                </div>
               
            </div>
        </section>
        
</div>




