<div class="panel-block is-flex">
    <div class="container">
        <%= render '/shared/info-user-lineal', person:owner, opt_link: true %>
        <%= distance_of_time_in_words(object.updated_at, Time.now) %>
    </div>
    <div class="container">
        <%= render 'shared/like-delete', object:object, type: "post" %>
    </div>
</div>

<div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
        <P>
        <%= object.content%>
        </P> <br />
        <div class="is-flex is-align-self-center">
            <%  if object.img_url.present?%>
                <%= image_tag(object.img_url.url)%>
            <% end %>
        </div>
</div>
<div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
        <div class="is-flex is-align-self-center">
            <%= render 'comments/form-new-comment',object: object %>
        </div>
</div>
<div class="panel-block is-flex is-flex-direction-column is-align-items-flex-start">
    <% unless object.comments.count == 0%>
    <P>
        Comments
    </P> 
    <br />
    <%end%>
    <div class="is-flex is-flex-direction-column">
        <%= render 'comments/view-comments',object: object %>
    </div>
</div>