<%= render 'layouts/form_notice' %>

<nav class="navbar is-info">
  <div class= "navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-5"><%= title %></h1>
    <% end%>
  </div>
  
  <div class="navbar-end">
      <div class="field is-grouped">
        <p id= "btn-new" class="control">
        <%= name_post%>
        </p>
        <% if user_signed_in? %>
          
          <p class="control">
            <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data:{turbo: false},class: "button is-info" %>
          </p>
          <div class="control">
             <%= render 'shared/img-profile-rounded', user:current_user, class_: "image is-32x32", opt_button: true %>
            
          </div>
          
        <% else %> 
          <p class="control">
            <%= link_to "Sign In", new_user_session_path, class: "button is-info" %>
          </p>
          <p class="control">
            <%= link_to "Sign up", new_user_registration_path, class: "button is-info" %>
          </p>
        <% end %>

      </div>
    </div>
  
</nav>