<!DOCTYPE html>
<html>
  <head>
    <title>CloneFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/head_top', title: "Clone Facebook", name_post: "new Post"%><!--, new_path_model: new_event_path%>-->
    <%= yield %>
  </body>
</html>
