<!DOCTYPE html>
<html>
  <head>
    <title>CloneFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/6fb43975f9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/head_top', title: "Clone Facebook", name_post: "new Post"%><!--, new_path_model: new_event_path%>-->
    <%= yield %>
  </body>
</html>
